@model WebApp1.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1 class="det">Details</h1>
<hr />
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="images p-3">
                            <div class="text-center p-4">  <img src="~/Images/@Html.DisplayFor(model => model.Image)" style="width:20vw; height:30vh" /> </div>
    
                        </div>
                    </div>
                    <div class="col-md-6 product">
                        <div class="product p-4">
                                <div>@Html.DisplayNameFor(model => model.Name):  @Html.DisplayFor(model => model.Name)</div><br />
                                <div>@Html.DisplayNameFor(model => model.Cost):  @Html.DisplayFor(model => model.Cost)</div><br />
                           
                            <div>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</div><br />
                            <div>
                                @Html.DisplayNameFor(model => model.Category):  
                                  @if (Model.Category != null)
                                    {
                                        @Html.DisplayFor(model => model.Category.CategoryName)
                                    }
                                    else
                                    {
                                        <span>No Category</span>
                                    }
                            </div><br />
                            <hr />
                            <div class="cart mt-4 align-items-center" style="float:right">
                                

                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form method="post" asp-action="IncrementCost" asp-controller="Search">
                                        <input type="hidden" name="id" value="@Model.Id" />
                                        <button type="submit" class="btn btn-primary mr-2 px-4">Add Bid</button>
                                        </form>
                                    }
                                    else
                                    {
                                            <a class="btn btn-primary mr-2 px-4" asp-area="Identity" asp-page="/Account/Login">Login to Add Bidding</a>
                                       
                                    }

                                    
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="back">
    <a asp-action="Index">Back to List</a>
</div>

