@model WebApp1.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1 class="det">Details</h1>
<div class="dets">
<table class="detail-table">
    <tr>
    <td>
        <div>
            <img src="~/Images/@Html.DisplayFor(model => model.Image)" style="width:20vw; height:40vh" />
        </div>
    </td>
    <td>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cost)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cost)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Asset_condition)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Asset_condition)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Image)
                </dd>
            </dl>
        </div>
    </td>
    </tr>
</table>
</div>
<hr />

<div class="back">
    <a asp-action="Index">Back to List</a>
</div>
