@model IEnumerable<WebApp1.Models.Product>

@{
    ViewData["Title"] = "Index";
}



<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->
<h1 class="edt">Products</h1>
<div class="col-2 pt text-right">
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" asp-action="QueueResultSort" asp-route-item="@ViewBag.Item" asp-route-field="Name" asp-route-order="DESC">Name</a>
            <a class="dropdown-item" asp-action="QueueResultSort" asp-route-item="@ViewBag.Item" asp-route-field="Cost" asp-route-order="ASC">Price High to Low</a>
            <a class="dropdown-item" asp-action="QueueResultSort" asp-route-item="@ViewBag.Item" asp-route-field="Cost" asp-route-order="DESC">Price Low to High</a>
            <a class="dropdown-item" asp-action="QueueResultSort" asp-route-item="@ViewBag.Item" asp-route-field="Category" asp-route-order="DESC">Category</a>
        </div>
    </div>
</div>
<br />
<hr />

@foreach (var item in Model)
{
<a asp-action="Details" asp-controller="Search" asp-route-id="@item.Id">
<div class="col-md-10">
    <div class="row p-2 bg-white border rounded">
        <div class="col-md-3 mt-1 product-image">
            
            <img src="~/Images/@item.Image" style="width:100%; height:100%">
        </div>
        <div class="col-md-6 mt-1">
            <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
            <p class="text-justify text-truncate para mb-0">@Html.DisplayFor(modelItem => item.Description)<br><br></p>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            <div class="d-flex flex-row align-items-center">
                <h4 class="mr-1"> <span class="text-price"> $@Html.DisplayFor(modelItem => item.Cost)</span></h4>
            </div>
           
            
        </div>
    </div>
</div>
</a>
}