@model IEnumerable<WebApp1.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<h1 class="pt-5">Products</h1>
<!--
It is for creating/adding an item into database    
<p>
    <a asp-action="Create">Create New</a>
</p>

-->


  @foreach (var item in Model) {
    <div class="container">
	   
            <div class="pic">
                      @{
                    string url = "../images/" + item.Image + ".jpg";
                }
                <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="item-image" src="@url" alt="Sample Photo" />
                </a>
              </div>
  		    <div class="cols">
    		
                <br>
                <p> <span class="first">Item Name: </span> 
      			@Html.DisplayFor(modelItem => item.Name)
                  </p>
                  <br>
                  <p><span class="first">Description: </span>
      			@Html.DisplayFor(modelItem => item.Description)
                  </p>
                  <br>
                  <p><span class="first">Cost:    </span>
                @Html.DisplayFor(modelItem => item.Cost)
                </p>
                <br>
                <p><span class="first">Condition: </span> 
                @Html.DisplayFor(modelItem => item.Asset_condition)
                </p>
                <br>
                <p><span class="first">Category: </span>
                 @Html.DisplayFor(modelItem => item.Category)
                 </p>
         
         </div>
         <div class="bid">
      	   
                   <button onclick="location.href='@Url.Action("IncrementCost", "Search", new { id = Model.Id})'">Add Bid</button>        
      	 </div>
        
        </div>
         <hr>
 }
 
 
