@model IEnumerable<WebApp1.Models.Product>

@{
    ViewData["Title"] = "Index";
}



<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->
<h1 class="edt">Products</h1>
<hr />


    <div style="float: right; margin-right: 1rem">
        

        
           <form method="post">
    @ViewBag.cate 
    <select name="categorySort">
        
        <option value=0 >Category</option>
        @foreach (var cat in @ViewBag.category)
        {
            <option value=@cat.CategoryId>@cat.CategoryName</option>
        }
    </select>
    
    <select name="costNameSort">
        <option value="1">Name</option>
        <option value="2">Cost:High to low</option>
        <option  value="3">Cost:low to high</option>
    </select>
    <select name="Status">
        <option value=0 >Status</option>
        <option value="1">Open</option>
        <option value="2">Sold</option>
        <option  value="3">Close</option>
    </select>
    <button type="submit">filter</button
   

    
</form>
       
    </div>

<div style="margin-top: 5rem; margin-right:.5rem">
    @if(Model!=null){
@foreach (var item in Model)
{
<a asp-action="Details" asp-controller="Search" asp-route-id="@item.Id">
<div class="col-md-10">
    <div class="row p-2 bg-white border rounded">
        <div class="col-md-3 mt-1 product-image">
            
            <img src="~/Images/@item.Image" style="width:100%; height:100%">
        </div>
        <div class="col-md-6 mt-1">
            <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
            <p class="text-justify text-truncate para mb-0">@Html.DisplayFor(modelItem => item.Description)<br><br></p>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
            <div class="d-flex flex-row align-items-center">
                <h4 class="mr-1"> <span class="text-price"> $@Html.DisplayFor(modelItem => item.Cost)</span></h4>
            </div>
           
            
        </div>
    </div>
</div>
</a>
}
}
</div>