@model IEnumerable<Bid>

@{
    Layout = "_buyerPanelTemplate";
}

<h2 class="seller-head">Bids of Items</h2>

@foreach(var prop in Model){
<table class="item-table">
    <tr>
        <td>Item Name</td>
        <td>@prop.Product.Name</td>
    </tr>

    <tr>
        <td>Cost</td>
        <td>@prop.Cost</td>
    </tr>

     <tr>
        <td>Decision</td>
        <td>@prop.Bidstatus</td>
    </tr>
    
        @{
            if (@prop.Bidstatus == "Approved")
            {
               <td> <a asp-controller="buyer" asp-action="payment"  asp-route-cost="@prop.Cost" asp-route-productId="@prop.ProductId" asp-route-cost="@prop.Cost" asp-route-bid="@prop.BidId" class="btn btn-primary" >Make Payment</a></td>
            }

            if (@prop.Bidstatus == "Completed")
            {
               <td> <a asp-controller="buyer" asp-action="review" asp-route-product="@prop.ProductId" asp-route-buyer="@User.Identity.Name" asp-route-bid="@prop.BidId" class="btn btn-primary" >Add Review</a></td>
            }
        }
    <tr>
        
    </tr>
   
  </table>
  <br/><br/>
}
