@model Product;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_sellerPanelTemplate";
}
<h2 class="add">Edit Item</h2>
<hr />
           
                   
<form  asp-action="editData" asp-controller="Seller" enctype="multipart/form-data" method="post" style="background-color:whitesmoke">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   
    <table class="ed-t">
        <tr class="ro">
            <td class="ed-td">Product Name</td>
            <input asp-for="Id" hidden >
            <td><input asp-for="Name" type="text" class="ed-inputs" placeholder="PRODUCT NAME"></td>
            <span class="text-danger"></span>
        </tr>
    
        <tr class="ro">
            <td class="ed-td">Product Description</td>
            <td><textarea  class="ed-inputs" asp-for="Description"   placeholder="PRODUCT DESCRIPTION..."></textarea></td>
            <span class="text-danger"></span>
        </tr>
    
        <tr class="ro">
            <td class="ed-td">Start Date</td>
                <td>
                    <input asp-for="StartBidDate" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="2023-05-30T00:00" id="datetimepicker">
             </td>
                <span class="text-danger"></span>
        </tr>
    
        <tr class="ro">
            <td class="ed-td">End Date</td>
                <td>
                    <input  asp-for="ExpiryBidDate" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                  min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" max="2023-05-30T00:00" id="datetimepicker">
            </td>
                <span class="text-danger"></span>
        </tr>
    
        <tr class="ro">
            <td class="ed-td">Product Cost</td>
            <td><input class="ed-inputs" asp-for="Cost" placeholder="PRODUCT COST"></td>
            <span class="text-danger"></span>
        </tr>
    
        <tr class="ro">
            <td class="ed-td">Asset Condition</td>
            <td>
            <select class="ed-inputs" asp-for="Asset_condition">
                 <option value="">CONDITION</option>
                        <option value="new">New</option>
                        <option value="good">Good</option>
                        <option value="used">Used</option>
            </select>
            </td>
            <span class="text-danger"></span>
        </tr>
    
        <tr class="ro">
            <td class="ed-td">Category</td>
            <td>
               
               <select class="ed-inputs" asp-for="CategoryId">
                   
                         @foreach(Category cat  in @ViewBag.Categories)
                        {
                            <option value="@cat.CategoryId">@cat.CategoryName</option>
                        }
                    </select>
            </td>
        </tr>
        <tr class="ro">
            <td class="ed-td">Product Image</td>
            <td>
            <div style="display: flex">
            <img src="~/Images/@Html.DisplayFor(model => model.Image)" width="60" height="60">
            <input type="file" asp-for="ImageFile" style="margin-left: 2rem; margin-top: 1rem">
            </div>
            </td>   
        </tr>
    
        <tr class="ro">
            <td class="ed-td">
                 <button type="submit" class="btn btn-info">Update</button> 
                 <a asp-action="index" asp-controller="Seller" type="button" class="btn btn-danger">Cancel</a>
            </td>
        </tr>
    
    </table>


</form>

<hr />
<div class="back">
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}