@model IEnumerable<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_sellerPanelTemplate";
}
<h2>List of Items</h2>
<hr />
@foreach(Product prop in Model){
    <p>@prop.Name</p>
    <p>@prop.Description</p>
    <p>@prop.Asset_condition</p>
    <p></p>
    <p>@prop.StartBidDate</p>
    <p>@prop.ExpiryBidDate</p>
    <p>@prop.Cost</p>
    <p>@prop.Image</p>
    <p></p>
}